doctype html

html
  head
    title Collective &mdash; #{room.name}

    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href="/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")
    script(src="/javascripts/chat.js")
    script(src="/javascripts/user-list.js")

  body
    div#content.container-fluid
      div.row
        div.col-md-12
          h1 #{room.name} <small>Chat Room</small>

      div.row
        div.col-md-8
          div.chat-pane

          div.row#message-input-container
            div &nbsp;
            div.col-md-12
              textarea#message-input.form-control(rows='3', placeholder='New Message')

        div.col-md-4
          div#sidebar-container
            div.panel.panel-primary
              div.panel-heading
                h3.panel-title Downloads
              ul#downloads.list-group

            div.panel.panel-default
              div.panel-heading
                h3.panel-title Alarms
              ul#alarms.list-group

            div#users-container

    div#login-dialog.modal(data-backdrop="static", data-keyboard="false")
      div.modal-dialog.modal-lg
        div.modal-content
          div.modal-header
            h4.modal-title Register
          div.modal-body
            div
              div.form-gorup
                label User Name
                input#user-name-input.form-control(type='text')
                p#login-help.help-block
          div.modal-footer
            button#login-btn.btn.btn-primary Login

    script.
        var userName = null;

        function addDynamicStyles() {
          var selector = '.mention[data-mention="' + userName + '"]';
          var hover = selector + ":hover, " +
                      selector + ":visited, " +
                      selector + ":active " +
                      "{ text-decoration: none; cursor: default; }\n";
          var base = selector + " { font-weight: bold; color: #D45554; }\n";
          var $style = $('<style>'+base+hover+'</style>');
          $("html > head").append($style);
        }

        function resizeUI() {
          var windowHeight = $(window).height() - 10;
          $("#content").height(windowHeight);
          var height = windowHeight - ($(".chat-pane").offset().top + $("#message-input-container").height());
          $(".chat-pane").height(height - 2);
        }

        $(document).ready(function() {
            resizeUI();
            $(window).resize(resizeUI)
            $("#content").on('click', "a.issue", function() {
              var issue = $(this).data('issue');
              if(issue) {
                window.open("#{config.redmine}/issues/" + issue, '_blank');
              } else {
                
              }
              return false;
            }).on('click', 'a.user', function() {
              $("#message-input").insertAtCaret('@' + $(this).attr('data-user'));
              return false;
            }).on('click', 'a.mention', function() {
              if($(this).attr('data-mention') != userName) {
                $("#message-input").insertAtCaret('@' + $(this).attr('data-mention'));
              }
              return false;
            });

            $("#message-input").keypress(function(e) {
                if(e.which == 13 && !(e.ctrlKey || e.shiftKey) && userName) {
                    //TODO send
                    var text = $(this).val().trim();
                    if(text.length) {
                      $.ajax("/rooms/#{slug}/message", {
                        method: 'POST',
                        dataType: 'json',
                        data: {
                          author: userName,
                          text: text
                        }
                      });
                      $('#messages-container').scrollTop($('#messages-container').height());
                    }
                    $(this).val('');
                    
                    e.preventDefault();
                }
            });

            $("#user-name-input").keypress(function(e) {
              if(e.which == 13) {
                e.preventDefault();
                $("#login-btn").click();
              }
            });

            $("#login-btn").click(function () {
              userName = $("#user-name-input").val().trim();
              if(userName.length < 4) {
                $("#login-help").text("Username must be at least 4 characters long")
                  .parent().addClass('has-error');
                return false;
              }

              if(userName.length > 10) {
                $("#login-help").text("Username cannot be more than 10 characters long")
                  .parent().addClass('has-error');
                return false;
              }

              if(!userName.match(/^[a-zA-Z0-9\-_]+$/)) {
                $("#login-help").text("Username may only contain letters, numbers, dash (-), and underscore (_)")
                  .parent().addClass('has-error');
                return false;
              }

              $("#login-dialog").modal('hide');

              addDynamicStyles();

              var socket = io();
              socket.emit('subscribe', {
                room: "#{slug}",
                user: userName
              });

              /* TODO
               *  - author colors
               *  - author links
               */

              var chat = new ChatPane({
                socket: socket,
                $root: $(".chat-pane"),
                user: userName
              });

              var userList = new UserListPane({
                socket: socket,
                $root: $("#users-container"),
                user: userName
              });

              return false;
            });

            $("#login-dialog").modal('show');
            $("#user-name-input").focus();

            

        });

          



